*{padding:0; box-sizing: border-box; font-family: sans-serif;}
body{
    width:100%;
    height:100vh;
    overflow:hidden;
    display:flex;
}
.first{
    width:30%;
    height:100vh;
    background: #566156;

}
.second{
    width:40%;
    height:100vh;
    background: #494a49;

}
.third{
    width:30%;
    height:100vh;
    background: #fa6502;

}


